In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('judge_ab.csv')
df

,Category,Question,Correct_Answer,Output_Answer,Consistency,Cot,Cot_Answer,Smv_Answer,Cot_random,Cot_random_answer
0,professional_accounting,Adam Smith is considering automating his pin f...,C,"C) $480,000.00",True,NaN,"C) $480,000.00","C) $480,000.00",Step 1: Calculate the initial investment. This...,"C) $480,000.00"
1,professional_accounting,Which of the following items is not subject to...,D,B,False,Step 1: Understand what intraperiod tax alloca...,D,D,Step 1: Understand what intraperiod tax alloca...,D
2,professional_accounting,A compilation of financial statements in accor...,C,C,True,NaN,C,C,"Step 1: Understand the question, which is abou...",C
3,professional_accounting,Johnson worked for ABC Co. and earned a salary...,C,C,False,step 1: Identify the total amount of group ter...,C,C,Step 1: Identify the total amount of group ter...,"C) $100,414"
4,professional_accounting,Mentor Co. a U.S. corporation owned 100% of a ...,B,B,True,NaN,B,B,Step 1: Understand the difference between reme...,B
...,...,...,...,...,...,...,...,...,...,...
1995,abstract_algebra,"Let A and B be sets, f: A -> B and g: B -> A b...",D,D,True,NaN,D,D,step 1: Understand the given information. We h...,D
1996,abstract_algebra,Statement 1 | If K is a nonzero subgroup of a ...,C,C,True,NaN,C,C,Step 1: Analyze Statement 1 - If K is a nonzer...,C
1997,abstract_algebra,Statement 1 | Every nonzero free abelian group...,D,D,True,NaN,D,D,Step 1: Understand what a free abelian group i...,D
1998,abstract_algebra,"In the group G = {2, 4, 6, 8) under multiplica...",A,There seems to be a misunderstanding in the st...,True,NaN,None of the options provided is correct. The i...,None of the options provided is correct. The i...,step 1: Understand the operation and the group...,There seems to be a misunderstanding in the st...
1999,abstract_algebra,The set of all nth roots of unity under multip...,D,D,True,NaN,D,D,step 1: Define the nth roots of unity. These a...,D

In [13]:
correctness = 0
sc_correctness = 0
for row_index in range(len(df)):
    row = df.iloc[row_index]
    correct_ans = row['Correct_Answer']
    output_answer = row['Cot_random_answer']
    smv_ans = row['Smv_Answer']
    if correct_ans == output_answer[0]:
        correctness += 1
    else:
        correctness += 0
    if correct_ans == smv_ans[0]:
        sc_correctness += 1
    else:
        sc_correctness += 0

In [14]:
import numpy as np
correctness/len(df),sc_correctness/len(df)

(0.768, 0.785)