In [1]:
import json
import pandas as pd

In [2]:
filename = 'qa_data.json'
text = []
right_answers = []

with open(filename, 'r', encoding='utf-8') as f:
    for line in f:
        sample = json.loads(line)
        if "knowledge" in sample:
            text.append(sample["knowledge"] +" "+ sample["question"])
            right_answers.append(sample['right_answer'])

In [6]:
data = {
    'Question':text,
    'Correct Answer':right_answers
}
df_qa = pd.DataFrame(data)
df_qa.insert(0,'Name','HaluEval_qa_data')
df_qa.insert(1,'Category','Trivia')
df_qa

,Name,Category,Question,Correct Answer
0,HaluEval_qa_data,Trivia,Arthur's Magazine (1844–1846) was an American ...,Arthur's Magazine
1,HaluEval_qa_data,Trivia,The Oberoi family is an Indian family that is ...,Delhi
2,HaluEval_qa_data,Trivia,"Allison Beth ""Allie"" Goertz (born March 2, 199...",President Richard Nixon
3,HaluEval_qa_data,Trivia,"Margaret ""Peggy"" Seeger (born June 17, 1935) i...",American
4,HaluEval_qa_data,Trivia,It is a hygroscopic solid that is highly solu...,alcohol
...,...,...,...,...
9995,HaluEval_qa_data,Trivia,James Norman Hall (22 April 1887 – 5 July 1951...,yes
9996,HaluEval_qa_data,Trivia,Love in the Time of Money is a 2002 American r...,1979
9997,HaluEval_qa_data,Trivia,"Ape Escape, known in Japan as Excited Saru Get...",shorts
9998,HaluEval_qa_data,Trivia,"An accomplished full-forward, Capper kicked 3...",full forward
9999,HaluEval_qa_data,Trivia,"The title is a corruption of ""melodrama"", tho...",1852

In [9]:
filename = 'dialogue_data.json'
text = []
right_answers = []

with open(filename, 'r', encoding='utf-8') as f:
    for line in f:
        sample = json.loads(line)
        if "knowledge" in sample:
            text.append(sample["knowledge"] +" "+ sample["dialogue_history"])
            right_answers.append(sample['right_response'])

In [14]:
data = {
    'Question':text,
    'Correct Answer':right_answers
}
df_dialogue = pd.DataFrame(data)
df_dialogue.insert(0,'Name','HaluEval_dialogue_data')
df_dialogue.insert(1,'Category','Communication')
df_dialogue

,Name,Category,Question,Correct Answer
0,HaluEval_dialogue_data,Communication,Iron Man is starring Robert Downey Jr.Robert D...,I like crime fiction! Didn't know RDJ was in t...
1,HaluEval_dialogue_data,Communication,The Secret Life of Bees has genre Teen drama. ...,yes and he also produced White Oleander and it...
2,HaluEval_dialogue_data,Communication,Michael Jackson wrote Dancing the DreamDancing...,"Yes, Healing the World is one of my favorite s..."
3,HaluEval_dialogue_data,Communication,Dead to the World is written by Charlaine Harr...,Do you like this book because of it's author C...
4,HaluEval_dialogue_data,Communication,Ryan Reynolds starred in TurboTurbo is starrin...,Yep. As well as Ben Schwartz
...,...,...,...,...
9995,HaluEval_dialogue_data,Communication,Lionel Messi : `~Player statistics`: Argentina...,I am not a big soccer fan so I don't know much...
9996,HaluEval_dialogue_data,Communication,Carrie has genre Romance Film [Human]: I like ...,I can tell you some more romance titles like W...
9997,HaluEval_dialogue_data,Communication,L.M. Montgomery wrote The Blue CastleThe Blue ...,In 1926
9998,HaluEval_dialogue_data,Communication,Marco Reus : `Sport played`: Football [Human]:...,I like hockey and baseball. How about you?
9999,HaluEval_dialogue_data,Communication,Michelle Wie : `~Sponsorship`: Omega SAOmega S...,That sounds about right. I don't really know a...

In [15]:
filename = 'general_data.json'
text = []
right_answers = []

with open(filename, 'r', encoding='utf-8') as f:
    for line in f:
        sample = json.loads(line)

        text.append(sample["user_query"])
        right_answers.append(sample['chatgpt_response'])

In [16]:
data = {
    'Question':text,
    'Correct Answer':right_answers
}
df_general = pd.DataFrame(data)
df_general.insert(0,'Name','HaluEval_general_data')
df_general.insert(1,'Category','General Assistance')
df_general

,Name,Category,Question,Correct Answer
0,HaluEval_general_data,General Assistance,Produce a list of common words in the English ...,"the, a, and, to, in, that, is, it, of, for, wi..."
1,HaluEval_general_data,General Assistance,Provide a few examples of homophones.,1. allowed (permitted) and aloud (out loud)\n2...
2,HaluEval_general_data,General Assistance,Create a chart outlining the world's populatio...,"Unfortunately, as an AI language model, I cann..."
3,HaluEval_general_data,General Assistance,Design a shape with 10 vertices (corners).,Here is an example of a shape with 10 vertices...
4,HaluEval_general_data,General Assistance,Automatically generate a 10 by 10 multiplicati...,"Sure, here is a 10 by 10 multiplication table:..."
...,...,...,...,...
4502,HaluEval_general_data,General Assistance,Brainstorm a list of 10 possible headlines to ...,"1. ""China's cutting-edge facial recognition so..."
4503,HaluEval_general_data,General Assistance,Generate an example input to an instruction th...,"""Hey assistant, please write a report on the c..."
4504,HaluEval_general_data,General Assistance,Do the following equation: 8 + 4 / 2,"The answer is 10. \n\nTo solve the equation, y..."
4505,HaluEval_general_data,General Assistance,Predict the 2021 wildfire season in California.,"As an AI language model, I do not have the cap..."
4506,HaluEval_general_data,General Assistance,Summarize what you think is the importance of ...,"As an AI language model, I cannot have persona..."

In [20]:
filename = 'summarization_data.json'
text = []
right_answers = []

with open(filename, 'r', encoding='utf-8') as f:
    for line in f:
        sample = json.loads(line)
        text.append(sample["document"] + ' What is a good summarization of the document?')
        right_answers.append(sample['right_summary'])

In [21]:
data = {
    'Question':text,
    'Correct Answer':right_answers
}
df_summ = pd.DataFrame(data)
df_summ.insert(0,'Name','HaluEval_summarization_data')
df_summ.insert(1,'Category','Literature Summarization')
df_summ

,Name,Category,Question,Correct Answer
0,HaluEval_summarization_data,Literature Summarization,"Marseille, France (CNN)The French prosecutor l...","Marseille prosecutor says ""so far no videos we..."
1,HaluEval_summarization_data,Literature Summarization,The Palestinian Authority officially became th...,Membership gives the ICC jurisdiction over all...
2,HaluEval_summarization_data,Literature Summarization,Governments around the world are using the thr...,Amnesty's annual death penalty report catalogs...
3,HaluEval_summarization_data,Literature Summarization,"On May 28, 2014, some 7,000 people gathered in...",Amnesty International releases its annual revi...
4,HaluEval_summarization_data,Literature Summarization,"Seventy years ago, Anne Frank died of typhus i...",Museum: Anne Frank died earlier than previousl...
...,...,...,...,...
9995,HaluEval_summarization_data,Literature Summarization,Fired: Major General James Post III was fired ...,Major General James Post III was fired for say...
9996,HaluEval_summarization_data,Literature Summarization,"American Apparel, the controversial retailer k...",The print ad ran in the most recent issue of V...
9997,HaluEval_summarization_data,Literature Summarization,Angelina Jolie may have made the character wor...,Bonnie's skill at playing Call Of Duty has gai...
9998,HaluEval_summarization_data,Literature Summarization,The disabled pensioner who received donations ...,"Alan Barnes, who is partially sighted and just..."
9999,HaluEval_summarization_data,Literature Summarization,"Cameron Hooker, who kept a hitchhiker as sex s...",Cameron Hooker had kidnapped young hitchhiker ...

In [22]:
df_all = pd.concat([df_qa,df_summ,df_general,df_dialogue],ignore_index=True)
df_all

,Name,Category,Question,Correct Answer
0,HaluEval_qa_data,Trivia,Arthur's Magazine (1844–1846) was an American ...,Arthur's Magazine
1,HaluEval_qa_data,Trivia,The Oberoi family is an Indian family that is ...,Delhi
2,HaluEval_qa_data,Trivia,"Allison Beth ""Allie"" Goertz (born March 2, 199...",President Richard Nixon
3,HaluEval_qa_data,Trivia,"Margaret ""Peggy"" Seeger (born June 17, 1935) i...",American
4,HaluEval_qa_data,Trivia,It is a hygroscopic solid that is highly solu...,alcohol
...,...,...,...,...
34502,HaluEval_dialogue_data,Communication,Lionel Messi : `~Player statistics`: Argentina...,I am not a big soccer fan so I don't know much...
34503,HaluEval_dialogue_data,Communication,Carrie has genre Romance Film [Human]: I like ...,I can tell you some more romance titles like W...
34504,HaluEval_dialogue_data,Communication,L.M. Montgomery wrote The Blue CastleThe Blue ...,In 1926
34505,HaluEval_dialogue_data,Communication,Marco Reus : `Sport played`: Football [Human]:...,I like hockey and baseball. How about you?
34506,HaluEval_dialogue_data,Communication,Michelle Wie : `~Sponsorship`: Omega SAOmega S...,That sounds about right. I don't really know a...

In [23]:
df_all.to_csv('../preprocessed/HaluEval.csv',index= False)