In [1]:
import pandas as pd
import os

In [58]:
# df_li = []
# for file in os.listdir():
#     if file.startswith('result_'):
#         df_li.append(pd.read_csv(file))
# df_all_results = pd.concat(df_li,ignore_index=True)
# df_all_results = df_all_results.drop_duplicates()
df_all_results = pd.read_csv('../../../data/final_test_data/df_final.csv')
df_all_results

,CaseID,Category,Question,Correct Answer,Raw COT Answer,Corrected COT Answer,Hallu Seq,raw_cot,corrected_cot,Unnamed: 0
0,0,professional_accounting,Which of the following items is not subject to...,d,b,d,"['NO', 'NO', 'NO', 'NO', 'NO', 'NO']",Step 1: Understand what intraperiod tax alloca...,Step 1: Understand what intraperiod tax alloca...,NaN
1,1,professional_accounting,Johnson worked for ABC Co. and earned a salary...,c,c,c,"['NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO']",step 1: Identify the total amount of group ter...,Step 1: Identify the total amount of group ter...,NaN
2,2,professional_accounting,Pine Co. purchased land for $450000 as a facto...,c,a,a,"['NO', 'NO', 'NO', 'NO']",Step 1: Understand that the cost to be capital...,Step 1: Understand that the cost to be capital...,NaN
3,3,professional_accounting,The following information pertains to Dash Co....,c,a,a,"['NO', 'NO', 'NO', 'NO', 'NO']",step 1: Identify the period for which the liab...,Step 1: To determine the liability Dash Co. sh...,NaN
4,4,professional_accounting,Spark Co. buys cordless phones for $125 each a...,d,d,d,"['NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO...",Step 1: Calculate the profit per unit by subtr...,Step 1: Calculate the profit per unit by subtr...,NaN
...,...,...,...,...,...,...,...,...,...,...
332,128,date_understanding,"Jane quited her job on Mar 20, 2020. 176 days ...",a,a,a,"['NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO']",step 1: Calculate the date 176 days after Marc...,step 1: Calculate the date 176 days after Marc...,NaN
333,129,date_understanding,2015 is coming in 36 hours. What is the date 2...,c,d,d,"['NO', 'NO', 'NO', 'NO', 'NO', 'NO']",step 1: Understand that '2015 is coming in 36 ...,step 1: Understand that '2015 is coming in 36 ...,NaN
334,130,date_understanding,"On May 9th, 2017 Jane bought 40 eggs. She ate ...",c,c,c,"['NO', 'NO', 'NO']",step 1: Calculate the total number of days Jan...,Step 1: Calculate the total number of days Jan...,NaN
335,131,date_understanding,Jane scheduled 3 apointments with 5 poeple for...,e,none of the options match the calculated date ...,there is a mistake in the question or options ...,"['NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO...",step 1: Understand the question. The question ...,Step 1: Understand the question. The question ...,NaN
336,132,date_understanding,Tomorrow is 11/12/2019. What is the date tomor...,b,"none of the options match the correct answer, ...",b,"['NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'YES']",step 1: Understand the given information - Tom...,Step 1: Understand the given information - Tom...,NaN

In [56]:
df_all_results['Category'].value_counts()

Category
college_mathematics         38
college_chemistry           29
professional_accounting     26
formal_logic                26
Math                        21
Challenging Math            20
electrical_engineering      20
college_physics             18
abstract_algebra            17
professional_law            17
high_school_statistics      15
philosophy                  15
college_computer_science    15
college_medicine            13
business_ethics             12
date_understanding          11
international_law            9
college_biology              7
jurisprudence                6
elementary_mathematics       2
Name: count, dtype: int64

In [59]:
df_original= pd.read_csv('../../../data/final_test_data/judge_ab.csv')
df_original_neg = df_original[~df_original['Consistency']]
df_original_pos = df_original[df_original['Consistency']]
df_original_neg

,Category,Question,Correct_Answer,Output_Answer,Consistency,Cot,Cot_Answer,Smv_Answer,Cot_random,Cot_random_answer
1,professional_accounting,Which of the following items is not subject to...,D,B,False,Step 1: Understand what intraperiod tax alloca...,D,D,Step 1: Understand what intraperiod tax alloca...,D
3,professional_accounting,Johnson worked for ABC Co. and earned a salary...,C,C,False,step 1: Identify the total amount of group ter...,C,C,Step 1: Identify the total amount of group ter...,"C) $100,414"
8,professional_accounting,Pine Co. purchased land for $450000 as a facto...,C,A,False,Step 1: Understand that the cost to be capital...,A,A,step 1: Understand that the cost of the comple...,A
9,professional_accounting,The following information pertains to Dash Co....,C,"A) $6,000",False,step 1: Identify the period for which the liab...,"A) $6,000","A) $6,000",step 1: Identify the period for which the liab...,"A) $6,000"
18,professional_accounting,Spark Co. buys cordless phones for $125 each a...,D,D,False,Step 1: Calculate the profit per unit by subtr...,"The calculation process was flawed, leading to...","The calculation process was flawed, leading to...","step 1: Calculate the desired profit margin, w...","The calculation process was flawed, leading to..."
...,...,...,...,...,...,...,...,...,...,...
1971,abstract_algebra,Statement 1 | A factor group of a non-Abelian ...,B,D,False,step 1: Analyze Statement 1 - A factor group o...,B,D,step 1: Analyze Statement 1 - A factor group o...,D
1972,abstract_algebra,"Let p = (1, 2, 5, 4)(2, 3) in S_5 . Find the i...",C,C,False,step 1: Understand the problem. We are given a...,C) 24,C) 24,step 1: Understand the problem. We are given a...,C
1975,abstract_algebra,Statement 1 | A factor group of a non-Abelian ...,B,D,False,step 1: Analyze Statement 1 - A factor group (...,D,B,step 1: Analyze Statement 1 - A factor group (...,D
1986,abstract_algebra,The polynomial x^3 + 2x^2 + 2x + 1 can be fact...,C,C,False,step 1: Understand that Z_7[x] refers to the r...,B,There was a mistake in the calculation process...,step 1: Understand that Z_7[x] refers to the r...,C
1992,abstract_algebra,Statement 1 | If H and K are subgroups of a gr...,A,D,False,Step 1: Analyze Statement 1 - We need to verif...,D,D,Step 1: Analyze Statement 1 - We need to verif...,D

In [74]:
df_interception = pd.merge(df_original_neg, df_all_results, on=['Category', 'Question'], how='inner',copy=False)
df_interception.drop_duplicates(subset='Question',inplace=True)
df_interception

,Category,Question,Correct_Answer,Output_Answer,Consistency,Cot,Cot_Answer,Smv_Answer,Cot_random,Cot_random_answer,CaseID,Correct Answer,Raw COT Answer,Corrected COT Answer,Hallu Seq,raw_cot,corrected_cot,Unnamed: 0
0,professional_accounting,Which of the following items is not subject to...,D,B,False,Step 1: Understand what intraperiod tax alloca...,D,D,Step 1: Understand what intraperiod tax alloca...,D,0,d,b,d,"['NO', 'NO', 'NO', 'NO', 'NO', 'NO']",Step 1: Understand what intraperiod tax alloca...,Step 1: Understand what intraperiod tax alloca...,NaN
4,professional_accounting,Pine Co. purchased land for $450000 as a facto...,C,A,False,Step 1: Understand that the cost to be capital...,A,A,step 1: Understand that the cost of the comple...,A,2,c,a,a,"['NO', 'NO', 'NO', 'NO']",Step 1: Understand that the cost to be capital...,Step 1: Understand that the cost to be capital...,NaN
8,professional_accounting,Spark Co. buys cordless phones for $125 each a...,D,D,False,Step 1: Calculate the profit per unit by subtr...,"The calculation process was flawed, leading to...","The calculation process was flawed, leading to...","step 1: Calculate the desired profit margin, w...","The calculation process was flawed, leading to...",4,d,d,d,"['NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO...",Step 1: Calculate the profit per unit by subtr...,Step 1: Calculate the profit per unit by subtr...,NaN
9,professional_accounting,The standard deviations of Stocks A and B are ...,A,None of the options match the calculated value...,False,Step 1: Understand that the standard deviation...,None of the options match the calculated value...,None of the options match the calculated value...,Step 1: Understand that the standard deviation...,None of the options match the calculated value...,5,a,none of the options match the calculated value...,a,"['NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO...",Step 1: Understand that the standard deviation...,Step 1: Understand that the standard deviation...,NaN
13,professional_accounting,A shoe retailer allows customers to return sho...,B,B,False,Step 1: Understand the problem. The company ne...,"C) $195,000","C) $195,000",Step 1: Understand the problem. The company ne...,"C) $195,000",7,b,b,b,"['NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO']",Step 1: Understand the problem. The company ne...,Step 1: Understand the problem. The company ne...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,abstract_algebra,Statement 1 | A factor group of a non-Abelian ...,B,D,False,Step 1: Analyze Statement 1 - A factor group o...,D,B,Step 1: Analyze Statement 1 - A factor group o...,B,43,b,d,b,"['NO', 'NO', 'NO']",Step 1: Analyze Statement 1 - A factor group o...,Step 1: Analyze Statement 1 - A factor group o...,43.0
384,abstract_algebra,"In the group G = {2, 4, 6, 8) under multiplica...",A,A,False,"step 1: Understand the group operation. Here, ...",There seems to be a misunderstanding or mistak...,There seems to be a misunderstanding or mistak...,step 1: Understand the group operation. The gr...,None of the provided options is correct. The i...,44,a,a,a,"['NO', 'NO', 'YES']","step 1: Understand the group operation. Here, ...","Step 1: Understand the group operation. Here, ...",44.0
385,abstract_algebra,"(Z,*) is a group with a*b = a+b+1 for all a, b...",D,D,False,step 1: Recall the definition of an inverse in...,C,D,step 1: Recall the definition of an inverse in...,D,45,d,d,c,"['NO', 'YES']",step 1: Recall the definition of an inverse in...,Step 1: Recall the definition of an inverse in...,45.0
386,abstract_algebra,"Let p = (1, 2, 5, 4)(2, 3) in S_5 . Find the i...",C,C,False,step 1: Understand the problem. We are given a...,C) 24,C) 24,step 1: Understand the problem. We are given a...,C,47,c,c,c,"['NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO...",step 1: Understand the problem. We are given a...,Step 1: Understand the problem. We are given a...,47.0
387,abstract_algebra,The polynomial x^3 + 2x^2 + 2x + 1 can be fact...,C,C,False,step 1: Understand that Z_7[x] refers to the r...,B,There was a mistake in the calculation process...,step 1: Understand that Z_7[x] refers to the r...,C,49,c,c,c,"['NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO', 'NO...",step 1: Understand that Z_7[x] refers to the r...,Step 1: Understand that Z_7[x] refers to the r...,49.0

In [78]:
df_interception.to_csv('paper_report_df.csv',index=False)

In [75]:
df_original_pos['Corrected COT Answer'] = df_original_pos['Output_Answer']
df_original_pos

C:\Users\77388\AppData\Local\Temp\ipykernel_37340\765451446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_original_pos['Corrected COT Answer'] = df_original_pos['Output_Answer']

,Category,Question,Correct_Answer,Output_Answer,Consistency,Cot,Cot_Answer,Smv_Answer,Cot_random,Cot_random_answer,Corrected COT Answer
0,professional_accounting,Adam Smith is considering automating his pin f...,C,"C) $480,000.00",True,NaN,"C) $480,000.00","C) $480,000.00",Step 1: Calculate the initial investment. This...,"C) $480,000.00","C) $480,000.00"
2,professional_accounting,A compilation of financial statements in accor...,C,C,True,NaN,C,C,"Step 1: Understand the question, which is abou...",C,C
4,professional_accounting,Mentor Co. a U.S. corporation owned 100% of a ...,B,B,True,NaN,B,B,Step 1: Understand the difference between reme...,B,B
5,professional_accounting,In an e-commerce environment that requires tha...,B,B,True,NaN,B,B,Step 1: Understand the requirement of the e-co...,B,B
6,professional_accounting,Adam Smith is considering automating his pin f...,C,"C) $480,000.00",True,NaN,C,C,Step 1: Calculate the initial investment. This...,"C) $480,000.00","C) $480,000.00"
...,...,...,...,...,...,...,...,...,...,...,...
1995,abstract_algebra,"Let A and B be sets, f: A -> B and g: B -> A b...",D,D,True,NaN,D,D,step 1: Understand the given information. We h...,D,D
1996,abstract_algebra,Statement 1 | If K is a nonzero subgroup of a ...,C,C,True,NaN,C,C,Step 1: Analyze Statement 1 - If K is a nonzer...,C,C
1997,abstract_algebra,Statement 1 | Every nonzero free abelian group...,D,D,True,NaN,D,D,Step 1: Understand what a free abelian group i...,D,D
1998,abstract_algebra,"In the group G = {2, 4, 6, 8) under multiplica...",A,There seems to be a misunderstanding in the st...,True,NaN,None of the options provided is correct. The i...,None of the options provided is correct. The i...,step 1: Understand the operation and the group...,There seems to be a misunderstanding in the st...,There seems to be a misunderstanding in the st...
1999,abstract_algebra,The set of all nth roots of unity under multip...,D,D,True,NaN,D,D,step 1: Define the nth roots of unity. These a...,D,D

In [76]:
df = pd.concat([df_interception,df_original_pos],ignore_index=True)

In [77]:
correctness = 0
sc_correctness = 0
judge_correctness = 0
rerailer_correctness = 0
for row_index in range(len(df)):
    row = df.iloc[row_index]
    correct_ans = row['Correct_Answer'].lower()
    output_answer = row['Cot_random_answer'].lower()
    sc_answer = row['Smv_Answer'].lower()
    judge_answer = row['Output_Answer'].lower()
    rerailer_ans = row['Corrected COT Answer'].lower()
    try:
        if correct_ans == output_answer[0]:
            correctness += 1
        else:
            correctness += 0
        if correct_ans == sc_answer[0]:
            sc_correctness += 1
        else:
            sc_correctness += 0
        if correct_ans == judge_answer[0]:
            judge_correctness += 1
        else:
            judge_correctness += 0
        if correct_ans == rerailer_ans[0]:
            rerailer_correctness += 1
        else:
            rerailer_correctness += 0
    except:
        pass

correctness/len(df),sc_correctness/len(df),judge_correctness/len(df),rerailer_correctness/len(df)

(0.7929025423728814,
 0.8045550847457628,
 0.8140889830508474,
 0.8204449152542372)